$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// define variables
$brown: #A98651;
$gold: #FDC77C;
$gray: #B5AEA4;
$light-gray: #D6DCE1;
$sky-blue: #8795B1;
$gray-blue: #798197;

// typography
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Quicksand:300,400,700);
$poiret: "Poiret One", Helvetica;
$quicksand: "Quicksand", Arial;

// base styles
body {
  text-align: center;
  background: white;
  font-size: 16px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: $poiret;
}

img {
  max-width: 100%;
}

p {
}

a {
  color: $sky-blue;
  &:hover{
  color: darken($sky-blue, 10%);
  text-decoration: none;
  }
}

// main content
div.main {
  img.profile {
    border-radius: 50%;
    width: 50%;
    max-width: 300px;
  }
  h1 {
    color: $brown;
    font-size: 2.5em;
    font-family: $quicksand;
    font-weight: 400;
  }
}

div.tagline {
  p{
    font-size: 1.5em;
    letter-spacing: .5px;
  }
}

// links
.links {
  font-size: 1.25em;
  a{
    padding: .5em;
  }
}

// social media
.social-media{
  padding: 1em;
  a{
  color: $brown;
  font-size: 1.25em;
  padding: .25em;
  &:hover {
    color: darken($brown, 10%);
  }
}
}
